@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.searchContainer{
    background-color: antiquewhite;
    border: 1px solid black;
}

.newsItem{
    border-bottom: 1px solid #e0e0e0;
}

.newsItem:last-child{
    border-bottom: none;
}

.newsImage{
    flex: 1;
    max-width: 300px;
}
.newsImage img{
    max-width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.newsContent{
    flex: 2;
    margin-left: 20px;
}

.newsContent .info{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #888;
    margin-bottom: 12px;
}

.newsContent .info h5{
    margin: 0;
    font-weight: 400;
}

.newsContent h2{
    font-size: 18px;
    color: #444;
    margin-top: 0;
    max-height: 44px;
    overflow: hidden;
}

.newsContent p{
    color: #777;
    margin: 10px 0 20px;
    font-size: 14px;
    max-height: 33px;
    overflow: hidden;
}

.newsContent a{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
